<form class="example-form">

  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre del asesor" >
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Responsable" >
    </mat-form-field>
  </div>

  <br/>
  <br/>
  <br/>
  <hr width="850" style="text-align:center">

  <mat-form-field class="example-full-width" >
      <input matInput placeholder="Nombre de Participante" >
    </mat-form-field>

  <div class="container">
      <mat-form-field class="example-full-width" >
          <input matInput placeholder="Rol de desarrollo" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <select matNativeControl required>
             <option value="volvo">Dependencia</option>
             <option value="saab">Esteuiante</option>
             <option value="mercedes">Egresado</option>
             <option value="mercedes">Profesor</option>
             <option value="mercedes">Particular</option>
             </select>
          </mat-form-field>
    </div>
    
</form>
